.app-container {
  background-image: url('../public/img/background-image.png'); /* Use the background-image property */
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

/* For screens smaller than 768px (typical mobile phones) */
@media (max-width: 767px) {
  .app-container {
    background-image: url('../public/img/background-image-mobile.png');
    background-size: cover;
    background-position: center;
  }
}
